.alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1070;
}

.filepond--root {
    min-height: 4.75rem;
}

#searchBar {
    display: none;
}

#createTemplateFormModal .modal-dialog {
    max-width: unset;
    margin-left: 1rem;
    margin-right: 1rem;
}

.CodeMirror {
    height: 100%;
}

.bg-green {
    font-weight: bold;
    color: #004085 !important;
}

#poolLimitWrap {
    display: none;
}

.pool-color {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    float: right;
}

.blacklist {
    background: black !important;
    color: white !important;
}

.spinner-wrap {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.spinner-border {
    width: 30vh;
    height: 30vh;
}